@model Comic.Models.ComicBook
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title ="Comic Book Detail";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h1>@Model.DisplayText</h1>
        <h2>
            movie number : @Model.IssuNumber
        </h2>
        <h4>Description:</h4>
        <div>
            @Html.Raw(Model.DescriptionHtml)
        </div>
        @if (Model.Artists.Length>0)
        {
        <h5> Artists  </h5>
        <div>
            <ul>
                @foreach (var Artist in Model.Artists)
            {
                    <li>@Artist.Role: @Artist.Name</li>

                }
            </ul>
        </div>

        }
       
    </div>
</body>
</html>
